@charset "UTF-8";

/*
  em HTML é id = em CSS é # (só pode um elemento)
  em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(173, 221, 206);
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: rgb(24, 123, 90);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(36, 170, 125);
}

h2.basico {
    color: rgb(23, 187, 34);
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

.destaque {
    background-color: rgba(193, 193, 8, 0.396);
}